ul{
    display: flex;
    text-decoration: none;
}
 
nav{
     padding-left: 762px;
     margin-top: 10px;
}


li{
    list-style-type: none;
    white-space: nowrap;
    
}
.menu:hover {
    text-decoration: underline;
}

.menu{
    text-decoration: none;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.header{
    display: flex;
}

.banner {
    background: url(../images/banner.jpg);
    height: 450px;
    position: relative;
}

.caixa {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    margin-top: 50px;
    width: 430px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}
h1{
    letter-spacing: 0.5rem;
    font-size: 35px;
    text-align: left;
}

.pcaixa, h1{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.pcaixa{
    text-align: left;
}

.acaixa{
    text-decoration: none;
    color:#00CCFF;
    font-family: 'Roboto', sans-serif;
}
section{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    
}

.article{
    display: inline-block;
    width: 300px;
    text-align: justify;
}

p, h2{
    color: #444444;
    font-family: 'Roboto', sans-serif;
}

.article.ultima{
    margin-right: 0px;
}

footer{
    margin-top: 40px;
}
